body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

nav {
  background-color: #1976d2;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.dashboard-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #1976d2;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 64px; /* Adjust for Navbar */
}

.MuiDrawer-paper {
  background-color: white;
  color: white;
}

.MuiListItem-root:hover {
  background-color: white;
}

.MuiListItemIcon-root {
  color: white;
}

.MuiListItemIcon-root:hover {
  color: #8fbcd4;
}

/* Main content */
